body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

#container {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: flex;
  text-align: center;
  width: 100%;
  border: 0px solid #cccccc;
  box-sizing: border-box;
  margin: 0;
}

.member {
  margin: 10% 20%;
  align-items: center;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #aaa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #777;
}

.box {
position: relative;
  box-sizing: border-box;
  padding: 0px;
 	margin: 0px;
}

box >.single1{
width: 30%
}

box> .single2{
width: 30%;
}

