body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

#wb_LayoutGrid5 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-image: url(images/header_picture.jpg);
  background-color: rgba(255, 255, 255, 0);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid #cccccc;
  box-sizing: border-box;
  margin: 0;
}
#LayoutGrid5 {
  box-sizing: border-box;
  padding: 100px 15px 100px 15px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid5 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1,
#LayoutGrid5 > .row > .col-2,
#LayoutGrid5 > .row > .col-3 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}
#LayoutGrid5 > .row > .col-1 {
  float: left;
}
#LayoutGrid5 > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  width: 80%;
  text-align: center;
}
#LayoutGrid5 > .row > .col-2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  width: 20%;
  text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after {
  clear: both;
}
@media (min-width: 700px) {
  #LayoutGrid5 > .row > .col-1 {
    float: none;
    width: 100%;
  }
}
#LayoutGrid5-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.1;
}
#wb_Heading5 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
#Heading5 {
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  text-align: center;
}
#wb_Heading6 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 25px 0px 0px 0px;
  text-align: center;
}
#Heading6 {
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
#wb_CssMenu1 {
  border: 0px solid #000000;
  background-color: #ffffff;
  margin: 0;
  text-align: left;
}
#wb_CssMenu1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#wb_CssMenu1 li {
  float: left;
  margin: 0;
  padding: 0px 0px 0px 0px;
  width: 25%;
}
#wb_CssMenu1 a {
  display: block;
  float: left;
  color: #fff;
  border: 0px solid #ff0000;
  background-color: #333;
  background-image: none;
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  width: 100%;
  height: 38px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  line-height: 38px;
  text-align: center;
}
#wb_CssMenu1 li:hover a,
#wb_CssMenu1 a:hover {
  color: #000;
  background-color: #ccc;
  background-image: none;
  border: 0px solid #aaa;
}
#wb_CssMenu1 li.firstmain {
  padding-left: 0px;
}
#wb_CssMenu1 li.lastmain {
  padding-right: 0px;
}
#wb_CssMenu1 br {
  clear: both;
  font-size: 1px;
  height: 0;
  line-height: 0;
}

#wb_LayoutGrid1 {
  clear: both;
  overflow: hidden;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: #eeeeee;
  background-image: none;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  margin: 0;
}
#LayoutGrid1 {
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  width: 100%;
  border: 0px solid #cccccc;
}
#LayoutGrid1 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid1 > .row > .col-1 {
  float: left;
}
#LayoutGrid1 > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  width: 100%;
  text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
  clear: both;
}

#wb_LayoutGrid6 {
  clear: both;
  position: absolute;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: url(images/macbookkeyboard320_faded.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid #cccccc;
  box-sizing: border-box;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid6 {
  box-sizing: border-box;
  padding: 75px 0px 75px 0px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid6 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1,
#LayoutGrid6 > .row > .col-2,
#LayoutGrid6 > .row > .col-3 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}
#LayoutGrid6 > .row > .col-1,
#LayoutGrid6 > .row > .col-2,
#LayoutGrid6 > .row > .col-3 {
  float: left;
}
#LayoutGrid6 > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  width: 25%;
  text-align: center;
}
#LayoutGrid6 > .row > .col-2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  width: 50%;
  text-align: center;
}
#LayoutGrid6 > .row > .col-3 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #ffffff;
  width: 25%;
  text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after {
  clear: both;
}
@media (max-width: 480px) {
  #LayoutGrid1 > .row > .col-1 {
    float: none;
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  #LayoutGrid6 > .row > .col-1,
  #LayoutGrid6 > .row > .col-2,
  #LayoutGrid6 > .row > .col-3 {
    float: none;
    width: 100%;
  }
}
#LayoutGrid6-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2e2e2e;
  opacity: 0.78;
}
#wb_Heading7 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0px 10px 0px;
  text-align: center;
}
#Heading7 {
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 43px;
  margin: 0;
  text-align: center;
}
#wb_FontAwesomeIcon1 {
  background-color: #2e2e2e;
  background-image: none;
  border: 2px solid #d0d6d7;
  border-radius: 50%;
  text-align: center;
  margin: 0px 10px 0px 0px;
  padding: 8px 8px 8px 8px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#wb_FontAwesomeIcon1:hover {
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #2e2e2e;
}
#FontAwesomeIcon1 {
  height: 22px;
  width: 22px;
}
#FontAwesomeIcon1 i {
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  width: 11px;
}
#wb_FontAwesomeIcon1:hover i {
  color: #2e2e2e;
}
#wb_FontAwesomeIcon1 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms linear 0ms;
  -moz-transition: transform 500ms linear 0ms;
  transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon1:hover {
  -webkit-transform: rotate(0deg) scale(1.4, 1.4);
  -moz-transform: rotate(0deg) scale(1.4, 1.4);
  transform: rotate(0deg) scale(1.4, 1.4);
  -webkit-transition: -webkit-transform 500ms linear 0ms;
  -moz-transition: transform 500ms linear 0ms;
  transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon2 {
  background-color: #2e2e2e;
  background-image: none;
  border: 2px solid #d0d6d7;
  border-radius: 50%;
  text-align: center;
  margin: 0px 10px 0px 0px;
  padding: 8px 8px 8px 8px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#wb_FontAwesomeIcon2:hover {
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #2e2e2e;
}
#FontAwesomeIcon2 {
  height: 22px;
  width: 22px;
}
#FontAwesomeIcon2 i {
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  width: 19px;
}
#wb_FontAwesomeIcon2:hover i {
  color: #2e2e2e;
}
#wb_FontAwesomeIcon2 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms linear 0ms;
  -moz-transition: transform 500ms linear 0ms;
  transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon2:hover {
  -webkit-transform: rotate(0deg) scale(1.4, 1.4);
  -moz-transform: rotate(0deg) scale(1.4, 1.4);
  transform: rotate(0deg) scale(1.4, 1.4);
  -webkit-transition: -webkit-transform 500ms linear 0ms;
  -moz-transition: transform 500ms linear 0ms;
  transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon9 {
  background-color: #2e2e2e;
  background-image: none;
  border: 2px solid #d0d6d7;
  border-radius: 50%;
  text-align: center;
  margin: 0px 10px 0px 0px;
  padding: 8px 8px 8px 8px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#wb_FontAwesomeIcon9:hover {
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #2e2e2e;
}
#FontAwesomeIcon9 {
  height: 22px;
  width: 22px;
}
#FontAwesomeIcon9 i {
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  width: 17px;
}
#wb_FontAwesomeIcon9:hover i {
  color: #2e2e2e;
}
#wb_FontAwesomeIcon9 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms linear 0ms;
  -moz-transition: transform 500ms linear 0ms;
  transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon9:hover {
  -webkit-transform: rotate(0deg) scale(1.4, 1.4);
  -moz-transform: rotate(0deg) scale(1.4, 1.4);
  transform: rotate(0deg) scale(1.4, 1.4);
  -webkit-transition: -webkit-transform 500ms linear 0ms;
  -moz-transition: transform 500ms linear 0ms;
  transition: transform 500ms linear 0ms;
}
#wb_Text2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #000000;
  padding: 0;
  margin: 0;
  text-align: center;
}
#wb_Text2 div {
  text-align: center;
}
