p {
  color: #888888;
  font-size: 14 px;
  line-height: 1.6;
}

#container {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: flex;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
#container-inside {
  box-sizing: border-box;
  padding: 5px;
}

.LayoutText {
  box-sizing: border-box;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}