body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

.container {
  clear: both;
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  border: 0px solid yellow;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 50px 0 50px 0;
  display: block;
}

#event {
  padding: 25px 100px;
  position: relative;
  margin: 25px 100px 25px 100px;

  box-sizing: border-box;
  display: flex;
}

#event > .time {
  border: 0px solid #000000;
  position: relative;
  width: 20%;
  padding: 0px 8px;
  text-align: left;
}

#event > .content {
  border: 0px solid #000000;
  position: relative;
  width: 60%;
  text-align: left;
}

#event > .reservation {
  border: 0px solid #000000;
  position: relative;
  width: 20%;
  padding: 32px;
}

.abutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
