body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  overflow: hidden;
  border: 0px solid pink;
  position: relative;
  margin: 100px 0px 50px 0px;
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: block;
}
h3 {
  clear: both;
  display: block;
  text-align: center;
}
h4 {
  clear: both;
  display: block;
  text-align: center;
}

.container {
  clear: both;
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  border: 0px solid yellow;
  box-sizing: border-box;
  margin: 0;
  display: block;
}

.team {
  box-sizing: border-box;
  position: relative;
  border: 0px solid red;
  width: 100%;
}

.team > .row {
  display: flex;
  border: 0px solid blue;
  padding: 0 5%;
  height: 100%;
  justify-content: center;
}

.team > .row > .col-1 {
  border: 0px solid green;
  width: 25%;
  padding: 5% 5%;
  text-align: justify;
}

.team > .row > .col-1 img {
  position: relative;
  border-radius: 50%;
  margin: 0 15% 20% 15%;
  width: 70%;
  height: auto;
  float: left;
}
